<!DOCTYPE html>
<html>
<head>

<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

</style>

</head>

<body>

<table id="customers">
  <tr>
    <th>Route</th>
    <th>Method</th>
    <th></th>
  </tr>
  <tr>
    <td>data/horizontal</td>
    <td>Get</td>
    <td><a href="data/horizontal" style="text-decoration: none; color: black;" target="_blank">For Get Horizontal App Data</a></td>
  </tr>
  <tr>
    <td>add/horizontal</td>
    <td>Post</td>
    <td><a href="add/horizontal" style="text-decoration: none; color: black;" target="_blank">For Add Horizontal App data</a></td>
  </tr>
  <tr>
    <td>update/page/horizontal</td>
    <td>Get</td>
    <td><a href="update/page/horizontal" style="text-decoration: none; color: black;" target="_blank">For show Horizontal App For Update</a></td>
  </tr>
  <tr>
    <td>delete/horizontal</td>
    <td>Get</td>
    <td><a href="delete/horizontal" style="text-decoration: none; color: black;" target="_blank">For show Horizontal App For delete</a></td>
  </tr>
  <tr>
    <td>data/vertical</td>
    <td>Get</td>
    <td><a href="data/vertical" style="text-decoration: none; color: black;" target="_blank">For Get Vertical App Data</a></td>
  </tr>
  <tr>
    <td>add/vertical</td>
    <td>Post</td>
    <td><a href="add/vertical" style="text-decoration: none; color: black;" target="_blank">For Add Vertical App data</a></td>
  </tr>
  <tr>
    <td>update/page/vertical</td>
    <td>Get</td>
    <td><a href="update/page/vertical" style="text-decoration: none; color: black;" target="_blank">For show Vertical App For Update</a></td>
  </tr>
  <tr>
    <td>delete/vertical</td>
    <td>Get</td>
    <td><a href="delete/vertical" style="text-decoration: none; color: black;" target="_blank">For show Vertical App For delete</a></td>
  </tr>
</table>

</body>
</html>
<!DOCTYPE html>
