<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i=0; i<OriginalData.length; i++) {%>

         <% if(data == "horizontal"){ %>
            <a style="text-decoration: none; color: black;" href="/update/horizontal/<%= OriginalData[i].id%>">Update <%= OriginalData[i].Name%> App</a><br>
          <% } else{ %>  
            <a style="text-decoration: none; color: black;" href="/update/vertical/<%= OriginalData[i].id%>">Update <%= OriginalData[i].Name%> App</a><br>
         <% } %>
     <% } %>
</body>
</html>